$color_green:#72b185;

.mui_body{
   padding: 5% 15%;
   margin: 0px;
   margin-bottom: 35px;
}

.mui_separa_sinops{  
   border-bottom: 3px solid $color_green;
   padding: 0px 10px;
   margin-left: 15px;     
}

h3{
    color:$color_green; 
    font-family: montserrat;    
 }

.mui_parr{
      p{
      padding-right: 25px;
    
   }
}
